body {
  background: #d5dbd6;
  background: radial-gradient(
    circle,
    rgba(213, 219, 214, 1) 67%,
    rgba(219, 219, 202, 1) 100%
  );
  height: 100vh;
  font-family: "Raleway", sans-serif;
}

.navBar {
  width: 100%;
  height: 2rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #fffdf2;
  height: 2rem;
  padding-inline: 1rem;
  width: fit-content;
  border-radius: 1000px;
}

.navList a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.navList li {
  transition: transform 0.2s ease-in-out;
}

.navList li:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.about img {
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 1000px;
  background-color: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  object-fit: cover;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
  margin-top: 1rem;
  width: (90%, 1200px);
  margin-inline: auto;
}

.aboutText {
  width: min(90%, 600px);
}

.projects {
  width: 100%;
  margin-top: 2rem;
}

.projectsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  flex-direction: row;
  width: (90%, 1200px);
}

svg {
  width: 320px;
  height: 200px;
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
svg:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}
.projectCard h3 {
  transition: transform 0.3s ease;
}
.projectCard:has(svg:hover) h3 {
  transform: translateY(-10px);
  transition: transform 0.3s ease;
}
.contactTitle {
  margin-top: 3rem;
  text-align: center;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-flow: column;
}
.contactCard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #fffdf2;
  padding: 1rem;
  border-radius: 10px;
  width: fit-content;
  margin-inline: auto;
}
.contactCard img {
  width: 24px;
  height: 24px;
}

@media (width > 720px) {
  .about {
    flex-direction: row;
  }
  .about img {
    width: 400px;
    height: 400px;
  }
  .aboutText {
    width: 40%;
  }
  .projectsContainer {
    flex-flow: row wrap;
  }
  .contact {
    flex-flow: row;
    height: 120px;
    padding-inline: 2rem;
  }
}
